.item-page {
  border: 0.2px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: 300px;
  height: auto;
}

.item-page .item-card {
  margin: 20px;
}

.item-page .item-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.item-page .item-detail {
  display: flex;
  gap: 30px;
  margin-top: 10px;
}

.item-page .preorder-btn button {
  background-color: #c74545;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: 500;
  height: 40px;
  width: 260px;
  margin-top: 10px;
  cursor: pointer;
}
