.SOUpdate {
  margin-top: 30px;
  margin-left: 300px;
}

.SOUpdate .topi {
  text-align: center;
}

.SOUpdate .form-section {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}

.SOUpdate .in-sec {
  display: flex;
  flex-direction: column;
}

.SOUpdate .in-sec input {
  height: 50px;
  width: 500px;
  border: 0.2px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.SOUpdate .file-sec {
  border: 0.2px solid rgba(0, 0, 0, 0.5);
  padding: 15px;
  border-radius: 8px;
  width: 350px;
}

.SOUpdate .upld-btn button {
  background-color: white;
  border: 1px solid #34c800;
  color: #34c800;
  font-weight: 600;
  height: 50px;
  width: 100px;
  cursor: pointer;
}

.SOUpdate .img-upld {
  display: flex;
  gap: 50px;
  align-items: center;
}

.SOUpdate .img-view {
  display: flex;
  gap: 300px;
  border: 0.2px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  align-items: center;
  height: 100px;
}

.SOUpdate .dlt-btn button {
  background-color: white;
  color: #e50000;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

.SOUpdate .img-p img {
  height: auto;
  width: 100px;
  margin-left: 20px;
}

.SOUpdate .upd-btnn button {
  background-color: #334155;
  color: white;
  font-weight: 500;
  height: 50px;
  width: 500px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.SOUpdate .err-msg {
  color: red;
}
